## Mac
**/.DS_Store

## maven
**/target/
**/build/
**/out

## eclipse
**/.settings
**/.classpath
**/.project
**/bin/
/.DS_Store

## IntelliJ
**/*.iml
**/.idea

## personal
algorithm-test/src/main/java/test01/TestClass01.java
algorithm-test/src/main/java/test01/TestClassBaek.java
algorithm-test/src/main/java/test01/YalcoTest.java